@page
@model AddModel
@{
    ViewData["Title"] = "添加学期";
}
<section>
    <form method="post">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Start"></label>
            <input asp-for="Input.Start" class="form-control" />
            <span asp-validation-for="Input.Start" class=" text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.End"></label>
            <input asp-for="Input.End" class="form-control" />
            <span asp-validation-for="Input.End" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">添加</button>
        </div>
    </form>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
